<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogs" method="POST">
        <label for="Title">Title:</label>
        <input type="" title=" title" id="">
        <label for="Author">Authors:</label>
        <input type="text" name="Author">
        <label for="year">Years:</label>
        <input type="year" name="year">
     </form>

</body>
</html>