<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/blogs" method="POST">
        <label for="username"> Name : </label>
        <input type="" name="username" id="">
        <label for="comment"> Comments :</label>
        <input type="text" name="comment">
        <button type="submit">Add Comment</button>
     </form> -->
     <form action="/blogs" method="POST">
        <label for="title">title:</label>
        <input type="" name="title" id="">
        <label for="author">Author:</label>
        <input type="text" name="author">
        <label for="year">year:</label>
        <button type="submit">Add</button>

     </form>

</body>
</html>